# Java / Maven
target/
*.class
*.jar

# Maven
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env

# Local application configuration
**/application.properties
**/application-local.properties
**/application-secret.properties

# Node.js
node_modules/
npm-debug.log*

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp