# Java / Maven
target/
**/target/
*.class
*.jar

# Maven
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env
**/.env
application-local.properties
application-secret.properties
**/BOOT-INF/